*{
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}

body{
   background-color: #ccc;
}
.container {
   display: grid;
   /*grid-template-columns:;*/
   grid-template-rows: 25px 100px 150px 130px 130px 130px 25px 25px 25px;
   border: 5px solid #000;
   padding: 5px;
}

.container > div {
   border: 1px solid #000;
}

.container > div:first-child {
   background-color: rgba(0, 0, 255, 0.585);
}

.container > div:nth-child(2) {
   background-color: #fff;
   position: relative;
}
.container > div:nth-child(2) > .child1 {
   width: 65px;
   height: 50px;
   background-color: #ddd;
   position: absolute;
   left: 50%;
   top: 10px;
}
.container > div:nth-child(2) > .child2 {
   width: 140px;
   height: 20px;
   background-color: #ddd;
   position: absolute;
   bottom: 5px;
   left: 47%;
}

.container > div:nth-child(3) {
   background-color: rgba(0, 128, 0, 0.634);
}

.container > div:nth-child(4) {
   position: relative;
   background-color: #fff;
}
.container > div:nth-child(4) > .grenn1 {
   width: 200px;
   height: 20px;
   background-color: #ddd;
   position: absolute;
   left: 44%;
   top: 8px;
}
.container > div:nth-child(4) > .grenn2 {
   width: 200px;
   height: 85px;
   background-color: #ddd;
   position: absolute;
   bottom: 5px;
   left: 54%;
}
.container > div:nth-child(4) > .grenn3 {
   width: 200px;
   height: 85px;
   background-color: #ddd;
   position: absolute;
   bottom: 5px;
   left: 34%;
}

.container > div:nth-child(5) {
   background-color: #B26EDFFF;
}

.container > div:nth-child(5) > .last-child1 {
   position: relative;
   grid-auto-flow: column;
   width: 85px;
   height: 110px;
   background-color: #fff;
   left: 50%;
   top: 10px;
}
.container > div:nth-child(5) > .last-child1 > .grandson1 {
   width: 70px;
   height: 18px;
   background-color: #ddd;
   position: absolute;
   left: 6px;
   top: 37px;
}
.container > div:nth-child(5) > .last-child1 > .grandson2 {
   width: 70px;
   height: 45px;
   background-color: #ddd;
   position: absolute;
   bottom: 5px;
   left: 6px;
}

.container > div:nth-child(5) > .last-child2 {
   position: relative;
   width: 85px;
   height: 110px;
   background-color: #fff;
   bottom: 100px;
    left: 63%;
}
.container > div:nth-child(5) > .last-child2 > .grandson1 {
   width: 70px;
   height: 18px;
   background-color: #ddd;
   position: absolute;
   top: 37px;
   left: 7px;
}
.container > div:nth-child(5) > .last-child2 > .grandson2 {
   width: 70px;
   height: 45px;
   background-color: #ddd;
   position: absolute;
   bottom: 5px;
   left: 7px;
}

.container > div:nth-child(5) > .last-child3 {
   position: relative;
   width: 85px;
   height: 110px;
   background-color: #fff;
   bottom: 210px;
   left: 34%;
}
.container > div:nth-child(5) > .last-child3 > .grandson1 {
   width: 70px;
   height: 18px;
   background-color: #ddd;
   position: absolute;
   top: 37px;
   left: 7px;
}
.container > div:nth-child(5) > .last-child3 > .grandson2 {
   width: 70px;
   height: 45px;
   background-color: #ddd;
   position: absolute;
   bottom: 5px;
   left: 7px;
}


.container > div:nth-child(6) {
   position: relative;
   background-color: #fff;
}
.container > div:nth-child(6) > .line1 {
   width: 200px;
   height: 18px;
   background-color: #ddd;
   position: absolute;
   top: 10px;
   left: 45%;
}
.container > div:nth-child(6) > .line2 {
   width: 300px;
   height: 80px;
   background-color: #ddd;
   position: absolute;
   bottom: 10px;
   left: 41%;
}

.container > div:nth-child(8) {
   grid-auto-flow: column;
}





.container > div:nth-child(9) {
   background-color: rgba(0, 0, 255, 0.585);
}
