*{
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}

body{
   background-color: #ccc;
}
.container * {
   padding: 5px 5px;
   text-align: center;
}
.container {
   display: grid;
   grid-template-columns: 1fr;
   grid-template-rows: 30px 90px 110px 120px 120px 120px 180px 30px;
   /*grid-template: repeat() / repeat(1, 1fr);*/
}
.container:first-child {
   background-color: #57A9F4FF;
}

.container .section {
   display: grid;
   grid-template-columns: 70px;
   grid-template-rows: 50px 15px;
   grid-row-gap: 12px;
   background-color: #fff;
   justify-content: center;
}
.container .section .item-square {
   background-color: #ddd;
}
.container .section .item-line {
   background-color: #ddd;
    width: 150px;
    justify-self: center;
}


.container .section-color {
   background-color: #72C049FF;
}



.container .section-thrird {
   display: grid;
   grid-template-columns: auto auto;
   grid-template-rows: 18px 80px;
   grid-row-gap: 5px;
   background-color: #fff;
   justify-content: center;
}
.container .section-thrird .item__line {
   background-color: #ddd;
   position: relative;
   left: 150px;
   width: 300px;
   
}

.container .section-thrird .item-square1 {
   background-color: #ddd;
   width: 250px;
   grid-row: 2 / 2;
}
.container .section-thrird .item-square2 {
   background-color: #ddd;
   width: 250px;
   grid-row: 2 / 2;
}


.container .section-long {
   display: grid;
   grid-template-columns: 100px 100px 100px;
   background-color: #B26EDFFF;
   justify-content: center;
   grid-column-gap: 100px;
}

.container .section-long .item {
   display: grid;
   grid-template-columns: 1fr;
   grid-template-rows: 18px 50px;
   grid-row-gap: 10px;
   background-color: #fff;
}

.container .section-long .grandson {
   background-color: #ddd;
   align-items: end;
}

.container .section-large__square {
   display: grid;
   grid-template-columns: 1fr;
   grid-template-rows: 18px 85px;
   grid-row-gap: 5px;
   background-color: #fff;
}

.container .section-large__square .item-long__line {
   width: 280px;
   justify-self: center;
   background-color: #ddd;
}

.container .section-large__square .item-long__square {
   width: 350px;
   justify-self: center;
   background-color: #ddd;
}



.container .box-brown {
   display: grid;
   grid-template-columns: auto auto;
   grid-column-gap: 10px;
   background-color: #fff;
}
.container .section-color__brown1 {
   display: grid;
   grid-template-columns: 1fr;
   grid-template-rows: 20px 130px;
   grid-row-gap: 8px;
   background-color: #F0912FFF;
   
}

.container .section-color__brown2 {
   display: grid;
   grid-template-columns: 1fr;
   grid-template-rows: 20px 130px;
   grid-row-gap: 10px;
   background-color: #F0912FFF;
   
}
.item-brown__line {
   background-color: #fff;
   width: 250px;
   justify-self: center;
}
.item-brown {
   background-color: #fff;
   width: 400px;
   justify-self: center;
}

.container .footer {
   background-color: #57A9F4FF;
}